:root {
    --base03: #002b36;  /*brblack  */
    --base02: #073642;  /*black   */
    --base01: #586e75;  /*brgreen */
    --base00: #657b83;  /*bryellow */
    --base0: #839496;   /*brblue   */
    --base1: #93a1a1;   /*brcyan   */
    --base2: #eee8d5;   /*white    */
    --base3: #fdf6e3;   /*brwhite */
    --yellow: #b58900;  /*yellow  */
    --orange: #cb4b16;  /*brred  */
    --red: #dc322f;     /*red    */
    --magenta: #d33682; /*magenta  */
    --violet: #6c71c4;  /*brmagenta */
    --blue: #268bd2;    /*blue    */
    --cyan: #2aa198;    /*cyan          */   
    --green: #859900;  /*green    */
}

:root[data-theme="dark"] {
    --bg-color:var(--base03);  /* brblack */
    --text-color: var(--base0);
    --header-color: var(--base1);
}

:root[data-theme="light"] { 
    --bg-color: var(--base3);   /* brwhite */
    --text-color: var(--base02);
    --header-color: var(--base03);
}

@media (prefers-color-scheme: light) {
    :root:not([data-theme]) {
        --bg-color: var(--base3);
        --text-color: var(--base02);
        --header-color: var(--base03);
    }
}

nav {
    text-align: right;
}

body {
    background-color: var(--bg-color);
    transition: background-color 0.5s ease, color 0.3s ease;
}

.center-header {
    color: var(--header-color);
    font-family: 'Arial', sans-serif;
    text-align: center;
    margin-top: 3%;
    font-size: 225%;
}

p {
    color: var(--text-color);
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 20px 0;
    text-align: center; /* delet */
}

text {
    color: var(--text-color);
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
}